boto3==1.35.22
botocore==1.35.22
chardet==5.2.0
et-xmlfile==1.1.0
jmespath==1.0.1
openpyxl==3.1.5
pillow==10.4.0
python-dateutil==2.9.0.post0
reportlab==4.2.2
s3transfer==0.10.2
setuptools==75.1.0
six==1.16.0
urllib3==2.2.3
wheel==0.44.0
